body{
    font-size: 1.2em;
    font-family: serif;
}
.options{
    text-align: center;
}
.ui-section{
    position: relative;
    min-height: 35px;
    padding: 2PX;
}
.key{
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 40px;
    width: 300px;
    color: #34a21a;
    text-align: left;
    font-weight: 700;
    line-height: 25px;
}
.input {
    width: 50%;
    margin: 0px;
    background: #e7e7e7;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.input:hover {
    opacity: .8;
}
.input-text{
    text-align: center;
    border: none;
}
.input-button, .input-select, .input-text{
    color: #4CAF50;
    font-size: 0.8em;
    font-weight: bold;
    border: none;
    height: 25PX;
    margin-left: 2px;
    text-align-last:center;
}
.input-button:active{
    background-color: #5b5b5b;
}
.half-btn{
    width: 24.7%;
}
.small-btn{
    width: 7.9%;
  }
.small-btn.active{
    background: #4CAF50;
    color: white;
}
.slider{
    -webkit-appearance: none;
    height: 25px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
.hidden{
    display: none;
}
@media only screen and (max-width: 1023px) {
    .ui-section{
    min-height: 70px;
    }
    .key {
    display: block;
    position: inherit;
    }
}

.graph-container {
    margin: auto;
    width: 1400px;
    padding: 10px;
    border: solid 1px black;
}

.graph-title {
    width: fit-content;
    margin: auto;
}

.graph-title p {
    font-weight: 900;
}

.graph_plot {
    fill: none;
    stroke-width: 5px;
    opacity: 1;
}

.svg_stroke_scheme_0 {
    stroke: green;
}

.svg_stroke_scheme_1 {
    stroke: blue;
}

.svg_color_scheme_0 {
    color: green;
}

.svg_color_scheme_1 {
    color: blue;
}

.svg_plot_background {
    opacity: 0.5;
    stroke-width: 1px;
}

.svg_plot_reference {
    stroke-dasharray: 10, 2;
}

.bench_legend_item {
    text-align: center;
    margin: 20px;
    margin-top: 0px;
}

.bench_legend_item p {
    display: inline;
    margin: 5px;
}